.primary {
    font-size: 200%;
    margin-top: 3rem;
    text-align: center;
    color: lightblue;
}

.emoji-cnt {
    font-size: 400%;
    margin: 3rem 0 1rem 0;
    text-align: center;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.emoji {
    cursor: pointer;
}

.clicked {
    font-size: 800%;
}

.stylistic-path {
    stroke: lightblue;
    stroke-width: 0.25em;
    vector-effect: non-scaling-stroke;
    stroke-linecap: round;
}